// .navbar {
//     margin-top: 0px;
//     height: 40px;
//     background: blue;
// }

.navbar-lewagon {
    justify-content: space-between;
    background: #94c3d8;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

.navbar-lewagon .navbar-brand img {
    width: 40px;
  }

p {
    margin-bottom: 0px;
}